.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/.name
.idea/misc.xml
.idea/modules.xml
app/app.iml
lokasee_android.iml
.idea/gradle.xml
.idea/runConfigurations.xml
.idea/vcs.xml
